@import "compass/css3/background-size";
@import "compass/layout/grid-background";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800,600);



// ================================
// 2.0 - IMPORTS
// ================================
@import "sass-bootstrap/lib/bootstrap";
@import 'fonts/myfonts'; 
// @import 'lib/axd-mixins'; 
// @import 'lib/axd-colors'; 
// @import 'lib/global-overrides'; 
// @import 'lib/axd-variables'; 



// ================================
// 1.0 - MIXINS
// ================================
// support for REM font sizing including IE8 fallback pixels
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}



// ================================
// 1.1 - COLORS
// ================================
$color-darkgray: rgb(80,80,80);
$color-gray: #888888;
$color-black: #222222;
$color-text-black: $color-black;
$color-text-white: #EEEEEE;
$color-text-whitewhite: #FFFFFF;
$color-text-gray: #999999;
$color-text-dkgray: #555555;

$color-blue: rgb(70,128,187);
$color-orange: rgb(245,129,0);
$color-blue-fade: rgba(70,128,187, 0.7);
$color-orange-fade: rgba(245,129,0, 0.7);

.blue-text {
    color: $color-blue !important;
}

.orange-text {
    color: $color-orange !important;
}
// --------------------------------


// ================================
// 1.2 - GLOBAL OVERRIDES
// ================================
html {
  // controls REM sizing on all header styles
  font-size: 62.5%;

  @media (max-width: 480px) {
    font-size: 50%;
    h1 {
      @include font-size(4);
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif; 
  color: $color-text-black;
  line-height: 1.1em;
}


h1 { @include font-size(3); font-weight: 100; }
h2 { @include font-size(5); font-weight: 500; }
h3 { @include font-size(3); font-weight: 200; color: $color-blue; }
p  { @include font-size(1.5); font-weight: 200; line-height: 1.5em;} 


h2 {
  &.services {
    color: $color-blue;
  }

  &.name {
    margin-left: -40px;
  }
}

h3 {
  &.about {
    font-style: normal;
    @include font-size(2.5);
  }
  &.title {
    color: $color-black;
    font-weight: 500;
    @include font-size(1.8);
  }
}


.page-wrapper {
  padding-top: 40px;
  height: auto;
  min-height: 100%;
}

// @media (max-width: 979px) { 
//   body { 
//     padding-left: 0; 
//     padding-right: 0; 
//   } 
// } 

// ================================
// 1.3 - VARIABLES
// ================================
$landing-height: 800px;
$section-height: 270px;
$divider-height: 470px;


@import 'lib/utilities'; 
@import 'lib/logo'; 
@import 'lib/landing'; 
@import 'lib/buttons'; 
@import 'lib/services'; 
@import 'lib/footer'; 





.shim-anchor {
  margin-top: -145px;
}




.service-bg {
  @include background-size(cover);
  position: relative;
  margin-top: $landing-height;
  // background-image: url('../images/plane-light-bg.jpg');
  background-color: rgba(255,255,255,1);
  border-bottom: solid 1px #777;
  padding: 40px 0;

  @media (max-width: $screen-sm) {
    min-height: 300px;
    padding-top: 20px;
  }

  z-index: 5;
}

.segue-bg {
  background-color: $color-blue;
  position: relative;
  padding: 60px 0;
  z-index: 7;

  h2 {
    color: $color-text-white;
  }
}
.solution-bg {
  // background-image: url('../images/plane-light-bg.jpg');
  // background-color: $color-blue-fade;
  // background-color: $color-blue;
  background-color: rgba(0,0,0,0.4);
  position: relative;
  min-height: 580px;
  border-top: 1px solid #333;
  z-index: 6;
  padding: 40px 0;

  @media (max-width: $screen-sm) {
    min-height: 300px;
    padding-top: 20px;
  }


}

h2.title {
  letter-spacing: 5px;
  @include font-size(3);
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.3em;
}
p.byline {
  letter-spacing: 3px;
  color: $color-text-gray !important;
  font-weight: 400;
  max-width: 400px;
}

.contact-bg {
  background-color: rgb(0,0,0);
  position: relative;
  border-top: 1px solid #333;
  z-index: 6;
  padding: 40px 0;
  color: #ccc;
  letter-spacing: 1px;

  h4 {
    color: $color-text-gray;
    font-weight: 200;
    border-bottom: dotted 1px #444;
    width: 20px;
    padding-bottom: 10px;
  }

  .contact-info {
    p {
      color: $color-text-white;
    }
    a { letter-spacing: 2px;}
  }
}


.service-wrapper {
  margin-left: 0;
  opacity: 1;
}

// service content animation controls
.animate-show {
  @include transition-property(all);
  @include transition-duration(0.5s);
  
  &.ng-hide-add {
    // display:block!important;
    opacity:1;
    margin-left:0px;

    &.ng-hide-add-active{
      opacity:0;
      margin-left:-1200px;
    }
  }

  &.ng-hide-remove{

    &.ng-hide-remove-active{

    }
  }

}
 

.subtle {
  color: #777;
}
.subtle-blue {
  color: $color-blue;
}


.about-us {
  margin: 100px 0;
  text-align: center;
  // height: 400px;
  position: relative;
  z-index: 10;

  h2 {
    color: $color-text-white;
  }

  h4 {
    color: $color-text-whitewhite;
    letter-spacing: 10px;
    margin: 20px 0;
  }

  .bio {
    max-width: 700px;
    margin: 40px auto;

    p {
      color: $color-text-white;
      font-size: 1.5rem;
      margin: 0 20px;
    }
  }

  .leading {
    width: 80%;
    margin: 0 auto;
  }

  .headshot {
    width: 100%;
    margin: 10px 0;

    img {
      @include border-radius(120px);
      margin-top: 2px;
      background-color: white;
    }
  }
}

.service-btn-wrap {
  width: 100%;
  text-align: center;
}



// .diamond {
//   @include transform(rotate(45deg));
//   width: 130px;
//   height: 130px;
//   background-color: #333;
//   z-index: 100;
//   display: inline-block;
//   margin: 0 25px;
//   top: -65px;
//   position: relative;
//   overflow: hidden;
//   cursor: pointer;

//   .overlay {
//     position: absolute;
//     width:100%;
//     height:100%;
//     // @include transform(rotate(45deg));
//     background-color: rgba(30,30,30,0.70);

//     p {
//       @include transform(rotate(-45deg));
//       @include font-size(1.5);
//       text-transform: uppercase;
//       font-weight: 700;
//       letter-spacing: 3px;
//       position: relative;
//       left: -2px;
//       top: 18px;
//       color: #aaa;
//     }

//     &:hover{
//       background-color: rgba(30,30,30,0.50);
//     }

//     &.active {
//       background-color: rgba(30,30,30,0.20) !important;

//       p {
//         color: $color-text-whitewhite !important;
//         // color: $color-orange !important;
//         // font-weight: 1000 !important;
//         // width: 220px;
//         // top: 15px;
//         // left: -45px;
//         // background-color: rgba(0, 0, 0, 0.7);
//         // padding: 5px 20px;
//       }
//       border-bottom: solid 5px #888;
//       border-right: solid 5px #888;
//     }
//   }
//   &.signage:before{
//     content:url(../images/diamonds_08.jpg);
//     position: absolute;
//     width: 450%;
//     height: 450%;
//     top: -65%;
//     left: -65%;
//     z-index: -1;
//     @include transform(rotate(-45deg));
//   }
//   &.plane:before{
//     // content:url(../images/diamonds_05.jpg);
//     content:url(../images/diamonds_09.jpg);
//     position: absolute;
//     width: 450%;
//     height: 450%;
//     top: -85%;
//     left: -45%;
//     z-index: -1;
//     @include transform(rotate(-45deg));
//   }
//   &.engine:before{
//     content:url(../images/diamonds_06.jpg);
//     position: absolute;
//     width: 450%;
//     height: 450%;
//     top: -65%;
//     left: -65%;
//     z-index: -1;
//     @include transform(rotate(-45deg));
//   }


// }

.service-wrapper {
  text-align: center;


  h2 {
    @include font-size(4);
    // font-weight: 100;
    // color: $color-text-white;
  }

  .lead-copy {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .service-items {
    width: 100%;
    margin: 20px 0;
    height: 140px;

    .service-item {
      display: inline-block;
      width: 220px;
      vertical-align: top;

      .ikon {
        @include font-size(2.5);
      }

      p {
        @include font-size(1.6);
      }
    }
  }
}


// .contact {
//   color: $color-text-white;
//   width: 100%;
//   // height: 400px;
//   margin-bottom: 120px;
//   background-color: rgba(10,10,10,0.50);
//   position: relative;
//   padding: 40px 0;

//   @media (max-width: $screen-sm) {
//     text-align: center !important;
//   }

//   .primary-address {
//     text-align: right;

//     @media (max-width: $screen-sm) {
//       text-align: center !important;
//     }
//   }

//   h2 {
//     color: #aaa;
//     text-align: center;
//     margin: 20px 0;
//   }


//   .contact-wrap {
//     margin: 40px 0 120px 0;
//   }

// }

.careers {
  position: relative;
  text-align: center;
  padding: 20px 0;
  background-color: #222;
  min-height: 300px;
  color: #eee;
  
  .inner {
    max-width: 700px;
    margin: 0 20px auto;
  }

  h2, p {
    color: #eee;
  }

}

.clients {
  position: relative;
  text-align: center;
  background-color: #eee;
  min-height: 300px;


  h2 {
    // color: $color-text-white;
  }

  .client-logo {
    display: inline-block;
    
    img {
      max-width: 250px;
      padding: 20px;
    }
  }
}



// .office {
//   @include background-size(cover);
//   background-image: url('../images/office-01.jpg') ;
//   background-position: center top;
//   background-repeat: no-repeat;
//   background-color: rgb(153,153,153);
//   height: 450px;
//   margin-bottom: -20px;  
//   border-top: solid 5px #ccc;

// }
// .profile-wedge {
//   width: 0px;
//   height: 0px;
//   border-style: solid;
//   border-width: 0 0 30px 30px;
//   display: inline-block;
//   margin-right: 10px;

//   &.ben {
//     border-color: transparent transparent $color-blue transparent;
//   }
//   &.nash {
//     border-color: transparent transparent $color-orange transparent;
//   }
// }


.btn-bio {
  margin-top: 10px;
}



