// @import "compass_twitter_bootstrap";
// @import "compass_twitter_bootstrap_responsive";
@import "compass/css3/background-size";
@import "compass/layout/grid-background";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
// @import "compass/css3/font-face";


// Hotfix Glyphicons-halflings include
$iconSpritePath:          "../images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";

@import "sass-bootstrap/lib/bootstrap";
@import "sass-bootstrap/lib/responsive";

// Colors
//primary color pallete
$color-slateblue: rgb(61,70,80);
$color-brightwhite: rgb(242,242,242);
$color-lightgray: rgb(153,153,153);
$color-darkgray: rgb(80,80,80);
$color-gray: #888888;
$color-tope: rgb(115,106,97);
$color-footer: rgb(46, 53, 61);
$color-black: #222222;
$color-text-black: $color-black;
$color-text-white: #EEEEEE;
$color-text-whitewhite: #FFFFFF;
$color-text-gray: #555555;


$color-blue: rgb(48,128,178);
$color-orange: rgb(241,90,36);
$color-orange-lt: rgb(251,166,23);
// mapping colors to service types
$color-strategy: $color-slateblue;
$color-design: $color-brightwhite;
$color-development: $color-tope;

// 0.0 Global Variables
$section-height: 270px;
$divider-height: 470px;

// My Mixins
//------------------
// support for REM font sizing including IE8 fallback pixels
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// My Styles
//-------------------
// @import 'lib/icon-blocks';
@import 'lib/navigation'; 
@import 'lib/footer'; 
@import 'lib/app-route-dashboard'; 
@import 'fonts/myfonts';


// 1.0 GLOBAL STYLES
// ----------------------------------

html {
  // controls REM sizing on all header styles
  font-size: 62.5%;

  @media (max-width: 480px) {
    font-size: 40%;
    h1 {
      @include font-size(5);
    }
  }
}

body {
  // min-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue;
  color: $color-text-black;
  line-height: 1.1em;
}
h1 {
  // page title, white font on dark background
  color: $color-text-white;
  font-weight: 100;
  @include font-size(7);

  &.services {
    color: $color-blue;
  }

  &.name {
    margin-left: -40px;
  }
}

.nash-color {
  color: $color-orange !important;
}

h2 {
  // section titles, blog post titles, service section titles
  @include font-size(5);
  font-weight: 800;
}


h3 {
  // section bylines
  @include font-size(3);
  font-style: italic;
  color: $color-blue;
  font-weight: 200;

  &.about {
    font-style: normal;
    @include font-size(2.5);
    // color: $color-text-gray;
  }

  &.title {
    color: $color-black;
    font-weight: 500;
    @include font-size(1.8);
  }
}


p {
  @include font-size(2);
  color: $color-text-black;
  font-weight: 200;
  line-height: 1.5em;
  margin: 20px 0;
}

// 1.1 GLOBAL LAYOUTS
// ----------------------------------
.page-wrapper {
  padding-top: 60px;
  height: auto;
  min-height: 100%;
}

body {
  width: 100%;
}
@media (max-width: 979px) { 
  body { 
    padding-left: 0; 
    padding-right: 0; 
  } 
} 


// 4.0 Homepage Formatting
// __________________________________

.landing {
  @include background-size(cover);
  z-index: 9;
  height: 600px;
  max-width: 100%;
  position: relative;
  margin-top: 60px;
  border-bottom: solid 5px #eee;

  @media (max-width: 480px) {
    height: 400px;
  }

  &.home {
    background-image: url('../images/runway-02.jpg');

  }

  &.blog {
    background-image: url('../images/seats-02.jpg');
    height: 300px;
  }

}

.img-spacer {
  position: relative;
  height: 300px;
  z-index: -1;

  @media (max-width: 480px) {
    height: 200px;
  }

}

.skrollr-holder {
  // visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 1180px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  @include background-size(cover);

  &.runway {
    background-image: url('../images/runway-02.jpg');
    // z-index: 4;
  }
  &.signage {
    background-image: url('../images/signage-02.jpg');
    z-index: -1;
  }
  &.plane {
    background-image: url('../images/plane-02.jpg');
    z-index: -1;
  }
  &.seats {
    background-image: url('../images/seats-02.jpg');
    z-index: -1;
  }
  &.engine {
    z-index: 4;
    background-image: url('../images/engine-01.jpg');
  }
}

.greeting {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 220px;
  z-index: 10;

  &.blog {
    margin-top: 80px;
  }

  @media (max-width: 480px) {
    margin-top: 150px;
  }

  .inner {
    max-width: 600px;
    margin: 0 auto;

  }
}


.feature {
  @include box-shadow(black 0px 0px 5px); 
  background-color: $color-text-whitewhite;
  min-height: 310px;
  z-index: 10;
  position: relative;
  padding-bottom: 20px;

  .section-line {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 40px 0;
    height: 20px;
  }
}

.linkedin img {
  vertical-align: bottom;
}

.section-summary {
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  // width: 100%;

  .summary-logo {
    margin: 0 auto;
    max-width: 200px;
  }

  .inner.footer {
    margin: 0 auto;
    margin-top: 130px;
    @media (max-width: 480px) {
      margin-top: 0;
    }
    // text-align: center;
  }

  .inner.header {
    margin: 0 auto;
    // margin-top: 10px;
    // text-align: center;
  }

  .inner.has-nav {
    margin-bottom: 40px;
  }

  p {
    color: $color-text-white;
    margin: 30px 0;
  }

}

.section-first {
  margin-top: 200px;
}

.inner {
  padding: 50px;
  max-width: 680px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}




.office {
  @include background-size(cover);
  background-image: url('../images/office-01.jpg') ;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: rgb(153,153,153);
  height: 450px;
  margin-bottom: -20px;  
  border-top: solid 5px #ccc;

}
.profile-wedge {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 30px 30px;
  display: inline-block;
  margin-right: 10px;

  &.ben {
    border-color: transparent transparent $color-blue transparent;
  }
  &.nash {
    border-color: transparent transparent $color-orange transparent;
  }
}

.contact-us {
  background-image: url('../images/seats-02.jpg') ;
  background-repeat: no-repeat;
  @include background-size(cover);
  height: 580px;
  text-align: center;
  border-top: solid 1px #aaa;


  .btn-contact {
    width: 240px;
    height: 35px;
    font-size: 1.3em;
    line-height: 35px;
    top: 120px;
    margin-bottom: 10px;
    // position: relative;
    
    @media (max-width: 480px) {
      width: 180px;  
      font-size: 0.8em;
      i {
        margin-top: 0px !important;
      }
    }
  }
}

.btn-bio {
  margin-top: 10px;
}

// BLOG
//---------------

.post-date {

}

