@import "compass/css3/background-size";
@import "compass/layout/grid-background";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

@import "sass-bootstrap/lib/bootstrap";

// Colors
//primary color pallete
$color-slateblue: rgb(61,70,80);
$color-brightwhite: rgb(242,242,242);
$color-lightgray: rgb(153,153,153);
$color-darkgray: rgb(80,80,80);
$color-gray: #888888;
$color-footer: rgb(46, 53, 61);
$color-black: #222222;
$color-text-black: $color-black;
$color-text-white: #EEEEEE;
$color-text-whitewhite: #FFFFFF;
$color-text-gray: #555555;


$color-blue: rgb(48,128,178);
$color-orange: rgb(241,90,36);

// 0.0 Global Variables
$landing-height: 600px;
$section-height: 270px;
$divider-height: 470px;

// My Mixins
//------------------
// support for REM font sizing including IE8 fallback pixels
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// My Styles
//-------------------
@import 'fonts/myfonts'; 
@import 'lib/navigation'; 
@import 'lib/footer'; 


// 1.0 GLOBAL STYLES
// ----------------------------------

html {
  // controls REM sizing on all header styles
  font-size: 62.5%;

  @media (max-width: 480px) {
    font-size: 40%;
    h1 {
      @include font-size(5);
    }
  }
}

body {
  // min-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue;
  color: $color-text-black;
  line-height: 1.1em;
}
h1 {
  // page title, white font on dark background
  color: $color-text-white;
  font-weight: 100;
  @include font-size(7);

  &.services {
    color: $color-blue;
  }

  &.name {
    margin-left: -40px;
  }
}

h2 {
  // section titles, blog post titles, service section titles
  @include font-size(5);
  font-weight: 500;

  // &.underline {
  //   border-bottom: 1px solid #AAA;
  //   display: inline;
  //   padding: 0 10px 5px 10px;
  // }
}


h3 {
  // section bylines
  @include font-size(3);
  // font-style: italic;
  color: $color-blue;
  font-weight: 200;

  &.about {
    font-style: normal;
    @include font-size(2.5);
    // color: $color-text-gray;
  }

  &.title {
    color: $color-black;
    font-weight: 500;
    @include font-size(1.8);
  }
}



p {
  @include font-size(2);
  color: $color-text-black;
  font-weight: 200;
  line-height: 1.5em;
  margin: 20px 0;
}

// 1.1 GLOBAL LAYOUTS
// ----------------------------------
.page-wrapper {
  padding-top: 40px;
  height: auto;
  min-height: 100%;
}
body {
  width: 100%;
}
@media (max-width: 979px) { 
  body { 
    padding-left: 0; 
    padding-right: 0; 
  } 
} 


// 4.0 Homepage Formatting
// __________________________________

.landing {
  @include background-size(cover);
  // height: $landing-height;
  height: 100%;
  max-width: 100%;
  top: 0;

  // @media (max-width: 480px) {
  //   height: 400px;
  // }

  &.home {
    // background-image: url('../images/runway-02.jpg');
    // background-image: url('../images/seats-02.jpg');
    background-image: url('../images/seats-dark-bg.jpg');
    position: fixed;
    width: 100%;
  }

  // &.blog {
  //   background-image: url('../images/seats-02.jpg');
  //   height: 300px;
  // }

}

// .img-spacer {
//   position: relative;
//   height: 400px;
//   z-index: -1;

//   @media (max-width: 480px) {
//     height: 200px;
//   }

// }

// .skrollr-holder {
//   // visibility: hidden;
//   position: fixed;
//   left: 0;
//   top: 0;
//   height: 1180px;
//   width: 100%;
//   background-position: center top;
//   background-repeat: no-repeat;
//   @include background-size(cover);

//   &.runway {
//     background-image: url('../images/runway-02.jpg');
//     // z-index: 4;
//   }
//   &.signage {
//     background-image: url('../images/signage-02.jpg');
//     z-index: -1;
//   }
//   &.plane {
//     background-image: url('../images/plane-02.jpg');
//     z-index: -1;
//   }
//   &.seats {
//     background-image: url('../images/seats-02.jpg');
//     z-index: -1;
//   }
//   &.engine {
//     z-index: 4;
//     background-image: url('../images/engine-01.jpg');
//   }
// }

.greeting {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 230px;
  z-index: 10;

  h2 {
    @include font-size(5);
    font-weight: 600;
    color: $color-text-white;
  }

  h3 {
    @include font-size(3);
    font-weight: 100;
    color: $color-text-white;

  }

  .divider {
    border-bottom: 1px solid #AAA;
    width: 70%;
    margin: auto;
  }

  &.blog {
    margin-top: 80px;
  }

  @media (max-width: 480px) {
    margin-top: 150px;
  }

  .inner {
    max-width: 600px;
    margin: 0 auto;

  }
}

.logo {
  img {
    width: 100px;
    margin: 0;
  }
}

.navbar-brand {
  padding: 10px 10px;
  margin-top: 3px;
}


.service-bg {
  @include background-size(cover);
  position: relative;
  margin-top: $landing-height;
  background-image: url('../images/plane-light-bg.jpg');
  min-height: 580px;

  @media (max-width: $screen-sm) {
    min-height: 300px;
    // height: 300px;
    padding-top: 20px;
  }


}


.service-wrapper {
  margin-left: 0;
  opacity: 1;
}

// service content animation controls
.animate-show {
  @include transition-property(all);
  @include transition-duration(0.5s);
  
  &.ng-hide-add {
    // display:block!important;
    opacity:1;
    margin-left:0px;

    &.ng-hide-add-active{
      opacity:0;
      margin-left:-1200px;
    }
  }

  &.ng-hide-remove{
    // @include transition-delay(0.2s);
    // @include transition-property(opacity);
    // @include transition-duration(0.5s);

    // opacity:0;
    // margin-right:-200px;

    &.ng-hide-remove-active{
      // opacity:1;
      // margin-right:0px;
    }
  }

}
 

 
//


.subtle {
  color: #777;
}
.subtle-blue {
  color: $color-blue;
}


.about-us {
  margin: 100px 0;
  text-align: center;
  // height: 400px;
  position: relative;
  z-index: 10;

  h2 {
    color: $color-text-white;
  }

  h4 {
    color: $color-text-whitewhite;
    letter-spacing: 10px;
    margin: 20px 0;
  }

  .bio {
    margin: 40px 0;

    p {
      color: $color-text-white;
      font-size: 1.5rem;
      margin: 0 20px;
    }
  }

  .headshot {
    width: 100%;
    margin: 10px 0;

    img {
      @include border-radius(100px);
      margin-top: 2px;
      background-color: white;
    }
  }
}

.service-btn-wrap {
  width: 100%;
  text-align: center;
}



.diamond {
  @include transform(rotate(45deg));
  width: 130px;
  height: 130px;
  background-color: #333;
  z-index: 100;
  display: inline-block;
  margin: 0 25px;
  top: -65px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  .overlay {
    position: absolute;
    width:100%;
    height:100%;
    // @include transform(rotate(45deg));
    background-color: rgba(30,30,30,0.70);

    p {
      @include transform(rotate(-45deg));
      @include font-size(1.5);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
      position: relative;
      left: -2px;
      top: 18px;
      color: #aaa;
    }

    &:hover{
      background-color: rgba(30,30,30,0.50);
    }

    &.active {
      background-color: rgba(30,30,30,0.20) !important;

      p {
        color: $color-text-whitewhite !important;
        // color: $color-orange !important;
        // font-weight: 1000 !important;
        // width: 220px;
        // top: 15px;
        // left: -45px;
        // background-color: rgba(0, 0, 0, 0.7);
        // padding: 5px 20px;
      }
      border-bottom: solid 5px #888;
      border-right: solid 5px #888;
    }
  }
  &.signage:before{
    content:url(../images/diamonds_08.jpg);
    position: absolute;
    width: 450%;
    height: 450%;
    top: -65%;
    left: -65%;
    z-index: -1;
    @include transform(rotate(-45deg));
  }
  &.plane:before{
    // content:url(../images/diamonds_05.jpg);
    content:url(../images/diamonds_09.jpg);
    position: absolute;
    width: 450%;
    height: 450%;
    top: -85%;
    left: -45%;
    z-index: -1;
    @include transform(rotate(-45deg));
  }
  &.engine:before{
    content:url(../images/diamonds_06.jpg);
    position: absolute;
    width: 450%;
    height: 450%;
    top: -65%;
    left: -65%;
    z-index: -1;
    @include transform(rotate(-45deg));
  }


}

.service-wrapper {
  text-align: center;


  h2 {
    @include font-size(4);
    // font-weight: 100;
    // color: $color-text-white;
  }

  .lead-copy {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .service-items {
    width: 100%;
    margin: 20px 0;
    height: 140px;

    .service-item {
      display: inline-block;
      width: 220px;
      vertical-align: top;

      .ikon {
        @include font-size(2.5);
      }

      p {
        @include font-size(1.6);
      }
    }
  }
}
.pointer {
  cursor: pointer;
}

.contact {
  color: $color-text-white;
  width: 100%;
  // height: 400px;
  background-color: rgba(10,10,10,0.50);
  position: relative;

  @media (max-width: $screen-sm) {
    text-align: center !important;
  }

  .primary-address {
    text-align: right;

    @media (max-width: $screen-sm) {
      text-align: center !important;
    }
  }

  h2 {
    color: #aaa;
    text-align: center;
    margin: 80px 0;
  }

  .contact-wrap {
    margin: 40px 0 120px 0;
  }

}

.feature {
  @include box-shadow(black 0px 0px 5px); 
  background-color: $color-text-whitewhite;
  min-height: 310px;
  z-index: 10;
  position: relative;
  padding-bottom: 20px;

  .section-line {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 40px 0;
    height: 20px;
  }
}

.linkedin img {
  vertical-align: bottom;
}

.section-summary {
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  // width: 100%;

  .summary-logo {
    margin: 0 auto;
    max-width: 200px;
  }

  .inner.footer {
    margin: 0 auto;
    margin-top: 130px;
    @media (max-width: 480px) {
      margin-top: 0;
    }
    // text-align: center;
  }

  .inner.header {
    margin: 0 auto;
    // margin-top: 10px;
    // text-align: center;
  }

  .inner.has-nav {
    margin-bottom: 40px;
  }

  p {
    color: $color-text-white;
    margin: 30px 0;
  }

}

.section-first {
  margin-top: 200px;
}

.inner {
  padding: 50px;
  max-width: 680px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}




.office {
  @include background-size(cover);
  background-image: url('../images/office-01.jpg') ;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: rgb(153,153,153);
  height: 450px;
  margin-bottom: -20px;  
  border-top: solid 5px #ccc;

}
.profile-wedge {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 30px 30px;
  display: inline-block;
  margin-right: 10px;

  &.ben {
    border-color: transparent transparent $color-blue transparent;
  }
  &.nash {
    border-color: transparent transparent $color-orange transparent;
  }
}

// .contact-us {
//   background-image: url('../images/seats-02.jpg') ;
//   background-repeat: no-repeat;
//   @include background-size(cover);
//   height: 580px;
//   text-align: center;
//   border-top: solid 1px #aaa;


//   .btn-contact {
//     width: 240px;
//     height: 35px;
//     font-size: 1.3em;
//     line-height: 35px;
//     top: 120px;
//     margin-bottom: 10px;
//     // position: relative;
    
//     @media (max-width: 480px) {
//       width: 180px;  
//       font-size: 0.8em;
//       i {
//         margin-top: 0px !important;
//       }
//     }
//   }
// }

.btn-bio {
  margin-top: 10px;
}

// BLOG
//---------------

.post-date {

}



