<div class="page-wrap">

<h1>Our Story</h1>
<p>Cadent Design Labs was founded on the idea that engineering web applications succeed when technical design requirements, user experience and overall project strategy are developed in concert and are continuously synchronized. With a passion for good design, solving hard problems and working with a wide set of customers, we set out to see if we could do some good.</p>

<h2>Ben Parkison</h2>
<p>Ben has worked in the aviation industry for ten years, and during that time has been involved in a number of analytical and marketing tool development projects. Ben has been responsible for development solutions to meet airplane certification, new analytical tools to forecast airplane maintenance and engineering workload requirements, and advanced market modeling and simulation tools in support of customer facing airplane marketing engagements. Ben has studied at Purdue University (B.S. Engineering), The University of Texas at Austin (M.S. Engineering) and The University of Washington (MBA). </p>

<h2>Mike Nash</h2>
<p>For seven years Mike has worked in the aviation industry developing new tools and techniques for mission critical engineering tools and customer facing marketing applications. In addition, Mike has also worked in freelance web design developing future facing solutions for ecommerce firms. Most recently, Mike has been developing new data exploration and visualization techniques for airlines and OEMs to monitor their operations real time. Mike has studied at Purdue University (B.S. Engineering) and The University of Washington (MBA).</p>

</div>