<div class="row">
    <div class="section-divider img-about-blur"></div>
    
    <div class="container full-page top-spacer">
        <div class="content skinny-content header-offset">
            <div class="feature head lt-on-dk">
                <h1>Our Story.</h1>
                <div class="paragraph">
                    <p>Applied by Design was founded on the idea that analytical web applications succeed when technical design requirements, user experience and overall project strategy are developed in concert and are continuously synchronized. With a passion for good design, solving hard problems and working with a wide range of customers, we set out to see if we could do some good.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="job-title">MANAGING PARTNERS</div>
        <div class="feature split">
            <div class="divider"></div>
            <div class="row">
                <div class="span6 left-side">
                    <div class="inner left">
                        <div class="title-name">Mike Nash</div>
                        <p class="description">For eight years Mike has worked in the aviation industry developing new tools and techniques for mission critical engineering tools and customer facing marketing applications. In addition, Mike has worked in freelance web design developing future facing solutions for ecommerce firms. Most recently, Mike has been developing new data exploration and visualization techniques for airlines and OEMs to monitor their operations real time.</p>
                        <div class="email">
                            <a href="mailto:mike@appliedbydesign.com?Subject=Hi%20Mike">mike@appliedbydesign.com</a>
                            <i class="icon-envelope"> </i> 
                        </div>
                        <div class="phone">
                            <a href="tel:+12063314554">206-331-4554</a>
                            <i class="icon-signal"> </i> 
                        </div>
                        <div class="linkedin">
                            <a href="http://www.linkedin.com/in/michaelwnash">
                            <img src="http://www.linkedin.com/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Michael Nash's profile on LinkedIn">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="span6">
                    <div class="inner">
                        <div class="title-name">Ben Parkison</div>
                        <p class="description">Ben has worked in the aviation industry for ten years, and since then has been involved in a number of engineering and marketing tool development projects. Ben has been responsible for designing solutions to meet airplane structural certification, new analytical tools to forecast airplane maintenance and engineering workload requirements, and advanced market modeling and simulation tools in support of customer facing airplane marketing engagements.</p>
                        <div class="email">
                            <i class="icon-envelope"> </i> 
                            <a href="mailto:ben@appliedbydesign.com?Subject=Hi%20Ben">ben@appliedbydesign.com</a>
                        </div>
                        <div class="phone">
                            <i class="icon-signal"> </i> 
                            <a href="tel:+12063314529">206-331-4529</a>
                        </div>
                        <div class="linkedin">
                            <a href="http://www.linkedin.com/in/benparkison">
                            <img src="http://www.linkedin.com/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Ben Parkison's profile on LinkedIn">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="office"></div>

</div>