<!-- Seats background image, fixed, scroll over -->
<div class="landing home">
  <div class="container">

    <div scroll-position="scroll"></div>
    <div class="greeting" ng-style="fadeTitle()">
      <h2 class="underline">Applied by Design</h2>
      <div class="divider"></div>
      <h1>Modern Application Solutions for the Aviation World</h1>
      <div id="services-btn"><img src="../images/6d79c9fe.more-arrow-lt.png"></div>
    </div>

  </div>
</div>

<!-- service sections -->
<div id="services-anchor" class="anchor-strip shim-anchor"></div>
<div class="service-bg">
  <div class="container">
    <div class="service-btn-wrap hidden-xs">
      <div class="diamond signage" ng-click="showPanel(0)">
        <div class="overlay" ng-class="{active:activePanel==0}">
          <p>Business Solutions</p>
        </div>
      </div>
      <div class="diamond plane" ng-click="showPanel(1)">
        <div class="overlay" ng-class="{active:activePanel==1}">
          <p>Project Consulting</p>
        </div>
      </div>
      <div class="diamond engine" ng-click="showPanel(2)">
        <div class="overlay" ng-class="{active:activePanel==2}">
          <p>Domain Expertise</p>
        </div>
      </div>
    </div>

    <!-- Business -->
    <div class="service-wrapper animate-show" ng-show="activePanel==0">
      <h2><span class="subtle">Extending Capabilities</span> for your <strong>Business</strong></h2>
      <p class="lead-copy">We'll work with you to understand every aspect of your aviation needs, create an appropriate web-application strategy, and provide all the leg work to turn your vision into a fully functioning reality.</p>
      <!-- <a href="/#/services"><button type="button" class="btn btn-primary">Learn More</button></a>  -->
      <h3 class="hidden-xs">Example Solutions</h3>

      <div class="service-items hidden-xs">
        <div class="service-item">
          <div class="ikon-home-2 ikon"></div>
          <p>Modernizing home-grown legacy tools</p>
        </div>
        <div class="service-item">
          <div class="ikon-tree ikon"></div>
          <p>Developing integrated application suites</p>
        </div>
        <div class="service-item">
          <div class="ikon-user-2 ikon"></div>
          <p>Improving current operational processes</p>
        </div>
      </div>
    </div>

    <!-- Projects -->
    <div class="service-wrapper animate-show" ng-show="activePanel==1">
      <h2><span class="subtle">Risk Reduction</span> for your <strong>Project</strong></h2>
      <p class="lead-copy">We help new and existing application projects better translate business needs into technical requirements by providing the tools needed to bridge communication gaps between all project roles. By enabling more effective communication, projects can better align with their strategic objectives, reducing schedule and budget risk over the life of the project.</p>
      <!-- <button type="button" class="btn btn-primary">Learn More</button>    -->
      <h3 class="hidden-xs">Example Solutions</h3>

      <div class="service-items hidden-xs">
        <div class="service-item">
          <div class="ikon-earth ikon"></div>
          <p>Strategic Alignment</p>
        </div>
        <div class="service-item">
          <div class="ikon-file ikon"></div>
          <p>UI/UX Wireframes, Mockups, and Comps</p>
        </div>
        <div class="service-item">
          <div class="ikon-equalizer ikon"></div>
          <p>Application Proof of Concept / Prototype</p>
        </div>
      </div>
    </div>

    <!-- Teams -->
    <div class="service-wrapper animate-show" ng-show="activePanel==2">
      <h2><span class="subtle">Domain Expertise</span> for your <strong>Team</strong></h2>
      <p class="lead-copy">We love challenges, and we excel at building complex analytical models and functional prototypes with a systematic mindset.  If you're looking for these specific skills and an aviation background, contact us to discuss opportunities for embedding us in your existing team to help resolve technical hurdles or provide on-site problem solving.</p>
      <!-- <button type="button" class="btn btn-primary">Learn More</button>    -->
      <h3 class="hidden-xs">Example Solutions</h3>

      <div class="service-items hidden-xs">
        <div class="service-item">
          <div class="ikon-plane ikon"></div>
          <p>Real-time Analytics</p>
        </div>
        <div class="service-item">
          <div class="ikon-earth ikon"></div>
          <p>Airline Economics</p>
        </div>
        <div class="service-item">
          <div class="ikon-stats ikon"></div>
          <p>Data Visualization</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="about-us">
  <div id="about-anchor" class="anchor-strip"></div>

  <div class="container">
    <div class="row">
      <h2>Our Team</h2>
      <div class="bio col-md-6">
        <div class="headshot">
          <img src="../images/eef93552.headshot-ben.png" alt="Ben Parkison Photo">
          <h4>Ben Parkison</h4>
          <p>Ben has worked in the aviation industry for ten years, and since then has been involved in a number of engineering and marketing tool development projects. Ben has been responsible for designing solutions to meet airplane structural certification, new analytical tools to forecast airplane maintenance and engineering workload requirements, and advanced market modeling and simulation tools in support of customer facing airplane marketing engagements.</p>
        </div>
      </div>

      <div class="bio col-md-6">
        <div class="headshot">
          <img src="../images/d5ceff7d.headshot-nash.png" alt="Mike Nash Photo">
          <h4>Mike Nash</h4>
          <p>For eight years Mike has worked in the aviation industry developing new tools and methods for mission critical engineering analysis and customer facing marketing applications. In addition, Mike has worked in freelance graphic and web design building modern solutions for ecommerce firms. Most recently, Mike has been developing web-based applications to facilitate the understanding of complex datasets and integrated product value to airline executives.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="contact">
  <div id="contact-anchor" class="anchor-strip"></div>
  <div class="container">
    <h2>Connect</h2>

    <div class="social-media">
      <a href="http://twitter.com/appliedbydesign"><i class="ikon-twitter"></i></a>
      <a href="http://www.linkedin.com/company/applied-by-design"><i class="ikon-linkedin"></i></a>
      <a href="http://plus.google.com/105918462373831841298"><i class="ikon-google-plus"></i></a>
    </div>
    
    <div class="row contact-wrap">
    
      <h2>Contact Us</h2>
      <span class="col-sm-6 primary-address">
        <address>
          <strong>Applied by Design, LLC</strong><br>
          Seattle, WA<br>
          <abbr title="Phone"><i class="ikon-phone"></i></abbr> (206)-331-4529
        </address>
      </span>
      

      <span class="col-sm-6">
        <address>
          <strong>General Inquiries</strong><br>
          <a href="mailto:info@appliedbydesign.com">info@appliedbydesign.com</a>
        </address>
        
        <address>
          <strong>Ben Parkison</strong><br>
          <a href="mailto:ben@appliedbydesign.com">ben@appliedbydesign.com</a><br>
          (206)-331-4529
        </address>  

        <address>
          <strong>Mike Nash</strong><br>
          <a href="mailto:mike@appliedbydesign.com">mike@appliedbydesign.com</a><br>
          (206)-331-4554
        </address>
      </span>
    </div>
  </div>
</div>