<!-- 
<h1>State 1</h1>
<hr/>
<a ui-sref="main.home">Show List</a>
<div ui-view></div> -->



<!-- Seats background image, fixed, scroll over -->
<a id="top"></a>
<section class="landing photo seats" id="landing">
  <div class="container">
    <div scroll-position="scroll"></div>
  </div>
</section>

<section>
  <div class="greeting" ng-show="showIntro" ng-style="fadeTitle()" id="greeting">
    <h2 class="underline" itemprop="name">Applied by Design</h2>
    <div class="divider"></div>
    <h1 itemprop="description">Technology Consulting & Application Solutions</h1>
    <div class="nav-arrow" id="scroll-btn">
      <a href="#scroll-anchor" scroll-on-click="">
      <img src="../images/6d79c9fe.more-arrow-lt.png" alt="more arrow"></a>
    </div>
  </div>
</section>

<section class="solid white" id="first-section">
  <div id="scroll-anchor" class="anchor-strip"></div>
  <div class="container">
    <div class="row">

      <div class="service col-md-4">
        <div class="circle-icon"><span class="ikon-cloud ikon"></span></div>
        <h4 class="title">Cloud</h4>
        <p>Browser-based applications are in, desktop installations are out. We'll help you make the transition.</p>
      </div>

      <div class="service col-md-4">
        <div class="circle-icon"><span class="ikon-bars ikon"></span></div>
        <h4 class="title">Data</h4>
        <p>We're engineers and we love data. We'll help build the tools and applications needed to make your data meaningful.</p>
      </div>

      <div class="service col-md-4">
        <div class="circle-icon"><span class="ikon-html5 ikon"></span></div>
        <h4 class="title">Web Applications</h4>
        <p>Moving your tools to the browser introduces a new world of capabilities for your applications. We develop the IT strategies needed to capture them.</p>
      </div>
    </div>
  </div>
</section>


<section class="solid blue">
  <div class="container">
    <div class="col-md-12">
      <div class="section-lead-in">
        <h2>We help businesses make the right technology decisions and build modern applications.</h2>
      </div>
    </div>
  </div>
</section>


<div id="services-anchor" class="anchor-strip"></div>
<section class="solid blacka">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Services & Solutions</h2>
          <p>Here's what we do best</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="solution col-md-4">
        <div class="circle-icon"><i class="ikon-group ikon"></i></div>
        <h4>User Centered Design</h4>
        <p>We involve users in the design process to make sure we're building the right application for the right audience in a way that works from day one.</p>
      </div>

      <div class="solution col-md-4">
        <div class="circle-icon"><i class="ikon-screen ikon"></i></div>
        <h4>Interaction & UX Design</h4>
        <p>Good design is problem solving. We help clients design intuitive and effective solutions.</p>
      </div>

      <div class="solution col-md-4">
        <div class="circle-icon"><i class="ikon-stats ikon"></i></div>
        <h4>Data Visualization</h4>
        <p> We design interactive data visualization tools to help users discover meaning and extract value from information.</p>
      </div>
    </div>

    <div class="row">
      <div class="solution col-md-4">
        <div class="circle-icon"><i class="ikon-briefcase ikon"></i></div>
        <h4>Product Management</h4>
        <p>Converting big ideas into actionable concepts for application design is at the center of what we’re about. We help clients turn bullet points into application solutions.</p>
      </div>

      <div class="solution col-md-4">
        <div class="circle-icon"><i class="ikon-switch ikon"></i></div>
        <h4>Application Prototyping</h4>
        <p>We don’t just talk about ideas, we bring them to life. We build prototypes to explore capabilities, mitigate technical issues, and validate business assumptions throughout development.</p>
      </div>
    </div>

  </div>
</section>

<section class="solid black">
    <div class="container">
      <div class="tech-wrapper center wide">
        <h2>Technology</h2>
        <p class="byline">We prefer lightweight, modern, and scalable technology stacks. While flexible, we're happiest working with the following:</p>
        <div class="row category">
            <div class="col-sm-6 right-sm">
                <p class="title">Client</p>
                <div class="drop-line"></div>
                <p class="tech"><span>AngularJS</span>, <span>HTML5</span>, <span>CSS3</span>, <span>D3.js</span></p>
            </div>            
            <div class="col-sm-6 left-sm">
                <p class="title">Server</p>
                <div class="drop-line"></div>
                <p class="tech"><span>Node.js</span>, <span>Express.js</span>, <span>Django</span></p>
            </div>            
        </div>
        <div class="row category">
            <div class="col-sm-6 right-sm">
                <p class="title">Database</p>
                <div class="drop-line"></div>
                <p class="tech"><span>MongoDB</span>, <span>MySQL</span></p>
            </div>            
            <div class="col-sm-6 left-sm">
                <p class="title">Platform</p>
                <div class="drop-line"></div>
                <p class="tech"><span>Cloud</span>, <span>Android</span>, <span>Google Glass</span></p>
            </div>            
        </div>


      </div>

    </div>

</section>




<div id="contact-anchor" class="anchor-strip shim-anchor"></div>
<section class="solid black contact">
  <div class="container fade-in fade-in-7">
    <div class="row">
      <div class="col-md-12">
        <div class="tech-wrapper center wide">
          <h2>Get in Touch</h2>
          <p class="byline">Have a project in mind? Let us know what you need. We're here to help.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-2 shim-top-col">
        <h4>Connect</h4>
        <div class="drop-line"></div>
        <div class="social-media">
          <a href="http://twitter.com/appliedbydesign"><i class="ikon-twitter"></i></a>
          <a href="http://www.linkedin.com/company/applied-by-design"><i class="ikon-linkedin"></i></a>
          <a href="http://plus.google.com/+Appliedbydesign" rel="publisher"><i class="ikon-google-plus"></i></a>
        </div>
        <!-- <h4>Careers</h4>
        <p>AngularJS, Node, D3. If these are your cup of tea, let's talk.</p> -->
      </div>
      
      <div class="col-md-3 shim-top-col">
        <h4>Contact</h4>
        <div class="drop-line"></div>
        <p>
            <address>
              General Inquiries<br>
              <a href="mailto:info@appliedbydesign.com" itemprop="email">info@appliedbydesign.com</a> <br>
              <span itemprop="telephone"> (206) 745-0307</span>
            </address>
            <address>
              Ben Parkison<br>
              <a href="mailto:ben@appliedbydesign.com">ben@appliedbydesign.com</a><br>
            </address>  
            <address>
              Mike Nash<br>
              <a href="mailto:mike@appliedbydesign.com">mike@appliedbydesign.com</a><br>
            </address>
        </p>
      </div>

      <div class="col-md-3 shim-top-col">
        <h4>Office</h4>
        <div class="drop-line"></div>
        <p>
                <address>
              <span itemprop="addressLocality">Seattle</span>, 
              <span itemprop="addressRegion">WA</span><br>
            </address>
        </p>
      </div>
    </div>

  </div>
</section>
