<!doctype html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Applied by Design - Aviation Application Solutions</title>
    <meta name="norton-safeweb-site-verification" content="6kgnxa7i2wmpih61t04tdp2nqief-6nc3yv20o-9me9it1nkmlxfkz8rrurzehoed2u5mcl8f5dm44pr0hfi31o9lbhl0dbb48wg8jvozub4t32ij10c7xz9ohwt0yox" />
    <meta name="description" content="Modern Application Solutions for the Aviation World">
    <meta name="keywords" content="Aviation, Airlines, Application, Development, COnsulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41740032-1', 'www.appliedbydesign.com');
      ga('send', 'pageview');


    </script>

    <!-- <script src="//platform.linkedin.com/in.js" type="text/javascript">
     lang: en_US
    </script> -->
    
  </head>
  <body ng-app="appliedByDesignApp" ng-controller="MainCtrl">


    <!-- Add your site or application content here -->
    
   <span itemscope itemtype="http://schema.org/Organization">
     <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand logo" href="#">
            <img itemprop="logo" src="../images/logo-04-lt.png" alt="Applied by Design">
            <!-- <div class="logo"></div> -->
           </a>
         </div>
         <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav pull-right">

            <!-- <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Our Work <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Services</a></li>
                <li><a href="#">Method</a></li>
              </ul>
            </li> -->

          <!-- <div class="social-header">
            <script type="IN/FollowCompany" data-id="3231555" data-counter="none"></script>
            
          </div> -->

            <!-- <li class="dropdown"> -->
               <!-- <a class="dropdown-toggle pointer" data-toggle="dropdown">Our Company <b class="caret"></b></a> -->
               <!-- <ul class="dropdown-menu"> -->
                 <li id="about-btn"><a href="#">About</a></li>
                 <li id="contact-btn"><a href="#">Contact</a></li>
                 <li><a href="http://blog.appliedbydesign.com">Blog</a></li>
                 <!-- <li><a href="http://blog.appliedbydesign.com">Blog</a></li> -->
               <!-- </ul> -->
             <!-- </li> -->
           </ul>

         </div><!--/.navbar-collapse -->
       </div>
     </div>

     <!-- Seats background image, fixed, scroll over -->
     <div class="landing home">
       <div class="container">

         <div scroll-position="scroll"></div>
         <div class="greeting" ng-style="fadeTitle()">
           <h2 class="underline" itemprop="name">Applied by Design</h2>
           <div class="divider"></div>
           <h1 itemprop="description">Modern Application Solutions for the Aviation World</h1>
           <div id="services-btn"><img src="../images/more-arrow-lt.png" alt="more arrow"></div>
         </div>

       </div>
     </div>


     <!-- service sections -->
     <div id="services-anchor" class="anchor-strip shim-anchor"></div>
     <div class="service-bg">
       <div class="container">
         <div class="service-btn-wrap hidden-xs">
           <div class="diamond signage" ng-click="showPanel(0)">
             <div class="overlay" ng-class="{active:activePanel==0}">
               <p>Business Solutions</p>
             </div>
           </div>
           <div class="diamond plane" ng-click="showPanel(1)">
             <div class="overlay" ng-class="{active:activePanel==1}">
               <p>Project Consulting</p>
             </div>
           </div>
           <div class="diamond engine" ng-click="showPanel(2)">
             <div class="overlay" ng-class="{active:activePanel==2}">
               <p>Domain Expertise</p>
             </div>
           </div>
         </div>

         <!-- Business -->
         <div class="service-wrapper animate-show" ng-show="activePanel==0" >
           <h2><span class="subtle">Extending Capabilities</span> for your <strong>Business</strong></h2>
           <p class="lead-copy">We'll work with you to understand every aspect of your aviation needs, create an appropriate web-application strategy, and provide all the leg work to turn your vision into a fully functioning reality.</p>
           <!-- <a href="/#/services"><button type="button" class="btn btn-primary">Learn More</button></a>  -->
           <h3 class="hidden-xs">Example Solutions</h3>

           <div class="service-items hidden-xs">
             <div class="service-item">
               <div class="ikon-home-2 ikon"></div>
               <p>Modernizing home-grown legacy tools</p>
             </div>
             <div class="service-item">
               <div class="ikon-tree ikon"></div>
               <p>Developing integrated application suites</p>
             </div>
             <div class="service-item">
               <div class="ikon-user-2 ikon"></div>
               <p>Improving current operational processes</p>
             </div>
           </div>
         </div>

         <!-- Projects -->
         <div class="service-wrapper animate-show" ng-show="activePanel==1">
           <h2><span class="subtle">Risk Reduction</span> for your <strong>Project</strong></h2>
           <p class="lead-copy">We help new and existing application projects better translate business needs into technical requirements by providing the tools needed to bridge communication gaps between all project roles. By enabling more effective communication, projects can better align with their strategic objectives, reducing schedule and budget risk over the life of the project.</p>
           <!-- <button type="button" class="btn btn-primary">Learn More</button>    -->
           <h3 class="hidden-xs">Example Solutions</h3>

           <div class="service-items hidden-xs">
             <div class="service-item">
               <div class="ikon-earth ikon"></div>
               <p>Strategic Alignment</p>
             </div>
             <div class="service-item">
               <div class="ikon-file ikon"></div>
               <p>UI/UX Wireframes, Mockups, and Comps</p>
             </div>
             <div class="service-item">
               <div class="ikon-equalizer ikon"></div>
               <p>Application Proof of Concept / Prototype</p>
             </div>
           </div>
         </div>

         <!-- Teams -->
         <div class="service-wrapper animate-show" ng-show="activePanel==2">
           <h2><span class="subtle">Domain Expertise</span> for your <strong>Team</strong></h2>
           <p class="lead-copy">We love challenges, and we excel at building complex analytical models and functional prototypes with a systematic mindset.  If you're looking for these specific skills and an aviation background, contact us to discuss opportunities for embedding us in your existing team to help resolve technical hurdles or provide on-site problem solving.</p>
           <!-- <button type="button" class="btn btn-primary">Learn More</button>    -->
           <h3 class="hidden-xs">Example Solutions</h3>

           <div class="service-items hidden-xs">
             <div class="service-item">
               <div class="ikon-plane ikon"></div>
               <p>Real-time Analytics</p>
             </div>
             <div class="service-item">
               <div class="ikon-earth ikon"></div>
               <p>Airline Economics</p>
             </div>
             <div class="service-item">
               <div class="ikon-stats ikon"></div>
               <p>Data Visualization</p>
             </div>
           </div>
         </div>

       </div>
     </div>


     <div class="about-us">
       <div id="about-anchor" class="anchor-strip"></div>

       <div class="container">
         <div class="row">
           <h2>Our Team</h2>
           <div class="bio col-md-6">
             <div class="headshot">
               <!-- <img src="../images/headshot-ben.png" alt="Ben Parkison Photo" itemprop="image" /> -->
               <img src="../images/headshot-ben.jpg" alt="Ben Parkison Photo" />
               <!-- <h4 itemprop="name">Ben Parkison</h4> -->
               <h4>Ben Parkison</h4>
               <p>Ben has worked in the aviation industry for ten years, and since then has been involved in a number of engineering and marketing tool development projects. Ben has been responsible for designing solutions to meet airplane structural certification, new analytical tools to forecast airplane maintenance and engineering workload requirements, and advanced market modeling and simulation tools in support of customer facing airplane marketing engagements.</p>
             </div>
           </div>

           <div class="bio col-md-6">
             <div class="headshot">
               <img src="../images/headshot-nash.jpg" alt="Mike Nash Photo" />
               <!-- <img src="../images/headshot-nash.png" alt="Mike Nash Photo" itemprop="image" /> -->
               <h4>Mike Nash</h4>
               <!-- <h4 itemprop="name">Mike Nash</h4> -->
               <p>For eight years Mike has worked in the aviation industry developing new tools and methods for mission critical engineering analysis and customer facing marketing applications. In addition, Mike has worked in freelance graphic and web design building modern solutions for ecommerce firms. Most recently, Mike has been developing web-based applications to facilitate the understanding of complex datasets and integrated product value to airline executives.</p>
             </div>
           </div>

         </div>
       </div>
     </div>

     <div class="contact">
       <div id="contact-anchor" class="anchor-strip"></div>
       <div class="container">
         <h2>Connect</h2>

         <div class="social-media">
           <a href="http://twitter.com/appliedbydesign"><i class="ikon-twitter"></i></a>
           <a href="http://www.linkedin.com/company/applied-by-design"><i class="ikon-linkedin"></i></a>
           <a href="http://plus.google.com/105918462373831841298" rel="publisher"><i class="ikon-google-plus"></i></a>
         </div>
         
         <!-- <div class="row contact-wrap"> -->
         <div class="row contact-wrap" itemscope itemtype="http://schema.org/PostalAddress">
         
           <h2>Contact Us</h2>
           <span class="col-sm-6 primary-address">
             <address>
               <strong>Applied by Design, LLC</strong><br>
               P.O. Box <span itemprop="postOfficeBoxNumber">16473</span><br>
               <span itemprop="addressLocality">Seattle</span>, 
               <span itemprop="addressRegion">WA</span><br>
               <span itemprop="postalCode">98116</span><br>
               <abbr title="Phone"><i class="ikon-phone"></i></abbr> 
               <span itemprop="telephone">(206)-331-4529</span>
             </address>
           </span>
           

           <span class="col-sm-6">
             <address>
               <strong>General Inquiries</strong><br>
               <a href="mailto:info@appliedbydesign.com" itemprop="email">info@appliedbydesign.com</a>
             </address>
             
             <address>
               <strong>Ben Parkison</strong><br>
               <a href="mailto:ben@appliedbydesign.com">ben@appliedbydesign.com</a><br>
               (206)-331-4529
             </address>  

             <address>
               <strong>Mike Nash</strong><br>
               <a href="mailto:mike@appliedbydesign.com">mike@appliedbydesign.com</a><br>
               (206)-331-4554
             </address>
           </span>
         </div>
<!--            <h2>Contact Us</h2>
           <span class="col-sm-6 primary-address">
             <address>
               <span itemprop="name"><strong>Applied by Design, LLC</strong></span><br>
               <span itemprop="addressLocality">Seattle</span>, <span itemprop="addressRegion">WA</span><br>
               <abbr title="Phone"><i class="ikon-phone"></i></abbr> 
               <span itemprop="telephone">(206)-331-4529</span>
             </address>
           </span>
           

           <span class="col-sm-6">
             <address>
               <strong>General Inquiries</strong><br>
               <a href="mailto:info@appliedbydesign.com" itemprop="email">info@appliedbydesign.com</a>
             </address>
             
             <address>
               <strong>Ben Parkison</strong><br>
               <a href="mailto:ben@appliedbydesign.com">ben@appliedbydesign.com</a><br>
               (206)-331-4529
             </address>  

             <address>
               <strong>Mike Nash</strong><br>
               <a href="mailto:mike@appliedbydesign.com">mike@appliedbydesign.com</a><br>
               (206)-331-4554
             </address>
           </span>
         </div> -->
       </div>
     </div>

    <!-- <div ng-view></div> -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="copyright"><p>© Applied by Design 2013</p></div>
        </div>
      </div>
    </footer>

    </span>

    <script type="text/javascript"> 
    var $buoop = {vs:{i:8,f:15,o:10.6,s:4,n:9}} 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
     try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
     var e = document.createElement("script"); 
     e.setAttribute("type", "text/javascript"); 
     e.setAttribute("src", "http://browser-update.org/update.js"); 
     document.body.appendChild(e); 
    } 
    </script> 
    <!-- build:js scripts/scripts.js -->    
    <script src="components/angular/angular.min.js"></script> 
    <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/modernizr/modernizr.js"></script>
    <script src="components/sass-bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/aboutController.js"></script>
    <script src="scripts/directives/scrollPosition.js"></script>
    <!-- endbuild -->

  </body>
</html>
