


  <div class="skrollr-holder seats" data-start="top:60px;" data-end="top:-250px;"></div>



  <section id="summary" class="section-summary section-first">
    <div class="container">

      <div class="inner summary">
        <h1>Our Story.</h1>
        <p>Applied by Design was founded on the idea that analytical web applications succeed when technical design requirements, user experience and overall project strategy are developed in concert and are continuously synchronized. With a passion for good design, solving hard problems and working with a wide range of customers, we set out to see if we could do some good.</p>

      </div>
    </div>
  </section>
  
  <div id="nav-arrow-1" class="nav-scroll-down">
    <div class="nav-arrow-light"></div>
  </div>
  
  <div class="img-spacer"></div>

  <div id="bio-anchor-1" class="anchor-strip"></div>

  <section class="feature">
    <div class="container">
      <div class="inner">
        <!-- <div class="profile-wedge ben"></div> -->
        <h1 class="services"><span class="profile-wedge ben"></span>Ben Parkison</h1>

        <h3 class="about title">MANAGING PARTNER</h3>

        <p>Ben has worked in the aviation industry for ten years, and since then has been involved in a number of engineering and marketing tool development projects. Ben has been responsible for designing solutions to meet airplane structural certification, new analytical tools to forecast airplane maintenance and engineering workload requirements, and advanced market modeling and simulation tools in support of customer facing airplane marketing engagements.
          <span class="linkedin">
            <a href="http://www.linkedin.com/in/benparkison">
            <img src="../images/linkedin_logo.png" width="25" height="25" border="0" alt="View Ben Parkison's profile on LinkedIn">
            </a>
          </span>
        </p>


        <a href="mailto:ben@appliedbydesign.com">
          <div class="btn btn-info btn-large btn-bio">
            <i class="icon-envelope icon-white"> </i> ben@appliedbydesign.com
          </div>
        </a>

        <div class="btn btn-info btn-large btn-bio">
          <i class="icon-signal icon-white"> </i> 206-331-4529
        </div>




        <div class="section-line"></div>

        <h1 class="services nash-color"><span class="profile-wedge nash"></span>Mike Nash</h1>
        <h3 class="about title">MANAGING PARTNER</h3>

        <p>For eight years Mike has worked in the aviation industry developing new tools and methods for mission critical engineering analysis and customer facing marketing applications. In addition, Mike has worked in freelance graphic and web design developing modern solutions for ecommerce firms. Most recently, Mike has been developing  web-based applications to facilitate the understanding of complex datasets and integrated product value to airline executives.
          <span class="linkedin">
              <a href="http://www.linkedin.com/in/michaelwnash">
              <img src="../images/linkedin_logo.png" width="25" height="25" border="0" alt="View Michael Nash's profile on LinkedIn">
              </a>
          </span>
        </p>
        <a href="mailto:mike@appliedbydesign.com">
          <div class="btn btn-info btn-large btn-bio">
            <i class="icon-envelope icon-white"> </i> mike@appliedbydesign.com
          </div>
        </a>

        <div class="btn btn-info btn-large btn-bio">
          <i class="icon-signal icon-white"> </i> 206-331-4554
        </div>

      </div>
    </div>
    <div class="office hidden-phone"></div>
  </section>



  <div id="nav-arrow-4" class="nav-scroll-down">
    <div class="nav-arrow-light"></div>
  </div>


    <div class="img-spacer"></div>


