


  <div class="skrollr-holder seats" data-start="top:60px;" data-end="top:-250px;"></div>



  <section id="summary" class="section-summary section-first">
    <div class="container">

      <div class="inner summary">
        <h1>Our Story.</h1>
        <p>Applied by Design was founded on the idea that analytical web applications succeed when technical design requirements, user experience and overall project strategy are developed in concert and are continuously synchronized. With a passion for good design, solving hard problems and working with a wide range of customers, we set out to see if we could do some good.</p>

      </div>
    </div>
  </section>
  
  <div id="nav-arrow-1" class=" hidden-phone nav-scroll-down">
    <div class="nav-arrow-light"></div>
  </div>
  
  <div class="img-spacer"></div>

  <div id="bio-anchor-1" class="anchor-strip"></div>




  <section id="strategy" class="feature section-summary">
    <div class="container">
      <div class="inner">
        <h1>Ben Parkison</h1>
        <h3 class="about">MANAGING PARTNER</h3>
        <p class="description">Ben has worked in the aviation industry for ten years, and since then has been involved in a number of engineering and marketing tool development projects. Ben has been responsible for designing solutions to meet airplane structural certification, new analytical tools to forecast airplane maintenance and engineering workload requirements, and advanced market modeling and simulation tools in support of customer facing airplane marketing engagements.</p>
        <div class="email">
            <i class="icon-envelope icon-white"> </i> 
            <a href="mailto:ben@appliedbydesign.com?Subject=Hi%20Ben">ben@appliedbydesign.com</a>
        </div>
        <div class="phone">
            <i class="icon-signal icon-white"> </i> 
            <a href="tel:+12063314529">206-331-4529</a>
        </div>
        <div class="linkedin">
            <a href="http://www.linkedin.com/in/benparkison">
            <img src="../images/linkedin_logo.png" width="40" height="40" border="0" alt="View Ben Parkison's profile on LinkedIn">
            </a>
        </div>
      </div>
    </div>
  </section>

  <div id="nav-arrow-2" class=" hidden-phone nav-scroll-down">
    <div class="nav-arrow-light"></div>
  </div>
  
  <div class="img-spacer"></div>

  <div id="bio-anchor-2" class="anchor-strip"></div>
  
  <section class="feature section-summary">
    <div class="container">
      <div class="inner">
        <h1>Mike Nash</h1>
        <h3 class="about">MANAGING PARTNER</h3>
        <p>For eight years Mike has worked in the aviation industry developing new tools and methods for mission critical engineering analysis and customer facing marketing applications. In addition, Mike has worked in freelance graphic and web design developing modern solutions for ecommerce firms. Most recently, Mike has been developing  web-based applications to facilitate the understanding of complex datasets and integrated product value to airline executives.</p>
        <div class="row">
        <div class="email">
            <a href="mailto:mike@appliedbydesign.com?Subject=Hi%20Mike">mike@appliedbydesign.com</a>
            <i class="icon-envelope icon-white"> </i> 
        </div>
        <div class="phone">
            <a href="tel:+12063314554">206-331-4554</a>
            <i class="icon-signal icon-white"> </i> 
        </div>
        <div class="linkedin">
            <a href="http://www.linkedin.com/in/michaelwnash">
            <img src="../images/linkedin_logo.png" width="40" height="40" border="0" alt="View Michael Nash's profile on LinkedIn">
            </a>
        </div>
      </div>

    </div>
  </section>
  

  <div id="nav-arrow-4" class=" hidden-phone nav-scroll-down">
    <div class="nav-arrow-light"></div>
  </div>


    <div class="img-spacer"></div>

    <!-- <div class="office"></div> -->

