

<div id="contact-anchor" class="anchor-strip shim-anchor"></div>
<section class="solid black contact">
  <div class="container fade-in fade-in-7">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Get in Touch</h2>
          <p>Have a project in mind? Let us know what you need. We're here to help.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h4>Connect</h4>
        <div class="social-media">
          <a href="http://twitter.com/appliedbydesign"><i class="ikon-twitter"></i></a>
          <a href="http://www.linkedin.com/company/applied-by-design"><i class="ikon-linkedin"></i></a>
          <a href="http://plus.google.com/+Appliedbydesign" rel="publisher"><i class="ikon-google-plus"></i></a>
        </div>
        <!-- <h4>Careers</h4>
        <p>AngularJS, Node, D3. If these are your cup of tea, let's talk.</p> -->
      </div>

      
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <h4>Contact</h4>

            <address>
              General Inquiries<br>
              <a href="mailto:info@appliedbydesign.com" itemprop="email">info@appliedbydesign.com</a> <br>
              <span itemprop="telephone"> (206) 745-0307</span>
            </address>
            
            <address>
              Ben Parkison<br>
              <a href="mailto:ben@appliedbydesign.com">ben@appliedbydesign.com</a><br>
            </address>  

            <address>
              Mike Nash<br>
              <a href="mailto:mike@appliedbydesign.com">mike@appliedbydesign.com</a><br>
            </address>
          </div>
          <div class="col-md-6">
            <h4>Office</h4>
            <address>
              <!-- Applied by Design, LLC<br> -->
              <!-- P.O. Box <span itemprop="postOfficeBoxNumber">16473</span><br> -->
              <span itemprop="addressLocality">Seattle</span>, 
              <span itemprop="addressRegion">WA</span><br>
              <!-- <span itemprop="postalCode">98116</span><br> -->
            </address>
          </div>  
        </div>
      </div>

      
    </div>

  </div>
</section>
