
  <!-- Landing Section (Runway Image) -->

  <!-- <section class="landing"> -->

<div class="page-homepage">

  <div class="landing-runway"></div>
  <div class="skrollr-holder plane" data-start="top:250px;" data-end="top:-100px;"></div>


  <div class="greeting">  
    <div class="container">
      <div class="inner">
        <h1>Digital Strategy, Design, Development</h1>
        <div class="service-blocks">
          <div class="service-icon strategy"></div>
          <div class="service-icon design"></div>
          <div class="service-icon development"></div>
        </div>
        <div id="nav-scroll-down" class="hidden-tablet hidden-phone"></div>

      </div>
    </div>
  </div>


  <section id="strategy" class="feature section-strategy">
    <div class="container">
      <div class="block-dynamic strategy pos-icon-block">
        <span class="long-title">Strategy</span>
      </div>
      <div class="inner">
        <h3>The most important part of your project happens before it begins</h3>
        <p class="">Your project becomes greater than the sum of its parts when you take a systematic, disciplined approach to understanding your customers, users and collaborators across your industry.</p>
        <a href="#/services/">
          <div class="btn btn-info">Read More</div>
        </a>
      </div>
    </div>
  </section>

  <div class="img-spacer"></div>

  <section id="design" class="feature section-design">
    <div class="container">
      <div class="block-dynamic design pos-icon-block">
        <span class="long-title">Design</span>
      </div>
      <div class="inner">
        <h3>User experience is more important than you think</h3>
        <p class="">If you’re developing digital solutions and not incorporating design and user experience continuously, from the start of your development cycle, you’re developing at a disadvantage to the competition.</p>
        <a href="#/services/">
          <div class="btn btn-info">Read More</div>
        </a>
      </div>
    </div>
  </section>
  
  <div class="img-spacer"></div>

  <section id="development" class="feature section-development">
    <div class="container">
      <div class="block-dynamic development pos-icon-block">
        <span class="long-title">Development</span>
      </div>
      <div class="inner">
        <h3>Analytical design demands a holistic understanding of the system</h3>
        <p class="">Web development, systems engineering and model design are skills that increasingly cannot exist apart. Today, your designers need to be able to not only write the code, but understand, integrate and expand on complex systems.</p>
        <a href="#/services/">
          <div class="btn btn-info">Read More</div>
        </a>
      </div>
    </div>
  </section>

  <div class="img-spacer"></div>
  
  <section id="summary" class="feature section-summary">
    <div class="container">

      <div class="inner summary">
        <div class="summary-logo">
          <img src="../images/logo-04-lt.png">
        </div>
          <p>A continuous and concurrent focus on project strategy, experience design and engineering development throughout the life of your project.</p>

          <a href="#/contact/">
            <div class="btn btn-info btn-large btn-contact">Get in Touch <i class="icon-chevron-right icon-white"></i></div>
          </a>
      </div>
    </div>
  </section>
  

<div class="contact-us">
</div>

</div>




