
  <!-- Landing Section (Runway Image) -->

  <!-- <section class="landing"> -->
  <div class="section-divider img-landing">


    <div class="landing">
        <div class="title-block title-block-position">
            <h1>Digital Strategy, Design, Development</h1>
            <div class="service-blocks">
              <div class="block-sm strategy">St</div>
              <div class="block-sm design">Ds</div>
              <div class="block-sm development">Dv</div>
            </div>
            <div id="nav-scroll-down" class="hidden-tablet hidden-phone"></div>
        </div>

    </div>

  </div>


  <section class="strategy">
    <div class="section-content">
      <div class="row center">
        <div class="block-dynamic strategy pos-icon-block">
          <span class="long-title">Strategy</span>
          <!-- <span class="short-title">St</span> -->
        </div>

        <div>
          <div class="lead">
            <span>
              <i>The most important part of your project happens before it begins</i>
            </span>
          </div>
          <div class="paragraph">
            <p>Your project becomes greater than the sum of its parts when you take a systematic, disciplined approach to understanding your customers, users and collaborators across your industry.</p>
          </div>
          <a href="#/services/">
            <div class="btn btn-info">Read More</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="section-divider img-strategy">
  </div>

  <section class="design">
    <div class="section-content">
      <div class="row center">
        <div class="block-dynamic design pos-icon-block">
          <span class="long-title">Design</span>
          <!-- <span class="short-title">Ds</span> -->
        </div>
        <div>
          <div class="lead">
            <span>
              <i>User experience is more important than you think</i>
            </span>
          </div>
          <div class="paragraph">
            <p>If you’re developing digital solutions and not incorporating design and user experience continuously, from the start of your development cycle, you’re developing at a disadvantage to the competition.</p>
          </div>
          <a href="#/services/">
            <div class="btn btn-info">Read More</div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <div class="section-divider img-design">
  </div>

  <section class="development">
    <div class="section-content">
      <div class="row center">
        <div class="block-dynamic development pos-icon-block">
          <span class="long-title">Development</span>
          <!-- <span class="short-title">Dv</span> -->
        </div>
        <div>
          <div class="lead">
            <span>
              <i>Analytical design demands a holistic understanding of the system</i>
            </span>
          </div>
          <div class="paragraph">
            <p>Web development, systems engineering and model design are skills that increasingly cannot exist apart. Today, your designers need to be able to not only write the code, but understand, integrate and expand on complex systems.</p>
          </div>
          <a href="#/services/">
            <div class="btn btn-info">Read More</div>
          </a>
        </div>
      </div>
    </div>
  </section>




  <div class="section-divider img-development">
  </div>


  <!-- Development Section -->
  <section class="summary">
    <div class="container">
      <div class="content center">
        <div class="block-lg strategy">St</div>
        <div class="block-lg design">Ds</div>
        <div class="block-lg development">Dv</div>
        <br>
        <div class="text-block darktext text-center">
          <h2>Applied by Design</h2>
          <p>A continuous and concurrent focus on project strategy, experience design and engineering development throughout the life of your project.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact (Terminal Seats) -->

  <!-- where the link takes you -->
  <!-- <a name="bottom-anchor" id="bottom-anchor"></a> -->

  <div class="contact-us" >
    <div class="row">
      <div class="offset9 span3">
        <a href="#/contact/">
          <div class="btn btn-info btn-large btn-contact">Get in Touch <i class="icon-chevron-right icon-white"></i></div>
        </a>
      </div>
    </div>

  </div>


