

<div class="page-wrapper">

    <div class="app-holder">
        <!-- fleet type filter at top of app -->

        <section id="filter-bar">
            <div class="page-container">
                <div id="filter-bar-menu-btn" ng-init="showEquipFilter=true" ng-click="showEquipFilter=!showEquipFilter">
                    <i class="ikon-airplane"></i>
                </div>

                <!-- loop through the different model types -->
                <div ng-repeat="model in navService.getEquipment()" ng-show="showEquipFilter">
                    <div class="fleet-model-btn toggle" 
                        ng-click="navService.toggleEquipment($index)"
                        ng-class="{active: navService.isEquipActive($index)}">
                        <span class="model-name">{{model.name}}</span>
                        <i class="ikon-airplane ikon"> </i>
                    </div>
                </div>
            </div>

        </section>

        <section id="route-map">
            <world-map height='mapHeight' width='mapWidth'></world-map>
        </section>

        <div class="dashboard-wrapper" ng-style="panelStyle()">
            

            <div class="page-container">
                <!-- dock dashboard navigation to left side -->


                <!-- primary dashboard area (minus navigation) -->
                <div class="dashboard-inner">
                    
                    <div class="dashboard-nav">
                        <div class="mini-nav-group">
                            <div class="mini-nav-btn" 
                                ng-click="navService.selectTab(0)"
                                ng-class="{active: navService.tabState(0)}">
                                <strong>$</strong>
                             </div>
                            <div class="mini-nav-btn"
                                ng-click="navService.selectTab(1)"
                                ng-class="{active: navService.tabState(1)}">
                                <i class="ikon-clock"></i>
                            </div>
                            <div class="mini-nav-btn" 
                                ng-click="navService.selectTab(2)" 
                                ng-class="{active: navService.tabState(2)}"> 
                                <i class="ikon-airplane"></i>
                            </div>
                            <div class="mini-nav-btn utility" 
                                ng-init="hidePanel=false"
                                ng-click="hidePanel=!hidePanel;">
                                <i ng-show="!hidePanel" class="ikon-chevron-down"></i>
                                <i ng-show="hidePanel" class="ikon-chevron-up"></i>
                            </div>
                        </div>
                    </div>

                    <section class="dash financial" 
                        ng-controller="FinancialPanelCtrl"
                        ng-show="navService.tabState(0)">

                        <!-- small filter panel with year buttons -->
                        <div class="panel small">
                            <div class="filter-year">
                                <h4>Fiscal Year</h4>
                                <div class="year-buttons">
                                    <div class="year-btn active">2013</div>
                                    <div class="year-btn">2012</div>
                                    <div class="year-btn">2011</div>
                                    <div class="year-btn">2010</div>
                                    <div class="year-btn">2009</div>
                                </div>
                            </div>
                        </div>

                        <!-- main financial panel -->
                        <div class="panel main">
                            <div class="panel-inner">
                                <div class="summary-table financial">
                                    <h3>Financial</h3>
                                    <!-- check out ng-grid maybe? -->
                                    <div ng-repeat="financial in financialData.getTotals()">
                                        <div class="row-wrap" 
                                            ng-click="financialData.select($index)"
                                            ng-class="{active: $index == financialData.activeId() }">
                                                <h4 class="title">{{financial.name}}:</h4>
                                                <h4 class="number primary">
                                                    <span class="dollar" ng-show="financial.currency">$</span>
                                                    {{financial.val}}
                                                </h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- panel for the financial chart -->
                        <div class="panel chart">
                            <div class="panel-inner">
                                <div class="chart-title">
                                    <h4>{{financialData.getActive().name}} 
                                        <span class="primary">
                                            <span class="dollar" ng-show="activeChart.currency">$</span>
                                            {{financialData.getActive().val}}
                                        </span>
                                    </h4>
                                </div>
                                <div class="chart-wrap">
                                    <financial-chart width='chartWidth' height='chartHeight'></financial-chart>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="dash operational"
                        ng-controller="OperationsPanelCtrl"
                        ng-show="navService.tabState(1)">

                        <!-- small filter panel with day buttons -->
                        <div class="panel small">
                            <div class="filter-days">
                                <h4>Schedule</h4>
                                <div class="day-buttons">
                                    <div ng-repeat="day in frequencyService.getDaily()">
                                        <div class="day-btn" 
                                            ng-click="frequencyService.toggleDaily($index)"
                                            ng-class="{active: frequencyService.isDayActive($index)}">
                                            {{day.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- main Operationsl panel -->
                        <div class="panel main">
                            <div class="panel-inner">
                                <div class="table-wrap">
                                    <h3>Route Details</h3>
                                    <div class="route-detail-table">
                                        <!-- check out ng-grid maybe? -->
                                    </div>
                                </div>
        
                                <div class="table-wrap">
                                    <h3>Route Costs</h3>
                                    <div class="route-detail-table">
                                        <!-- check out ng-grid maybe? -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- panel for the operational chart -->
                        <div class="panel chart">
                            <div class="panel-inner">
                                <div class="chart-title">Average Route Cost</div>
                                <div class="chart-value">$15.6M</div>
                                <div class="chart-wrap">
                                    <donut-chart>Here's a donut chart!</donut-chart>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="dash fleet" 
                        ng-controller="FleetPanelCtrl"
                        ng-show="navService.tabState(2)">
                        
                        <!-- small filter panel with aircraft buttons -->
                        <div class="panel small">
                            <div class="filter-plane">
                                <h4>Fleet Models</h4>
                                <div class="plane-buttons">
                                    <!-- loop through the different model types -->
                                    <div ng-repeat="model in navService.getEquipment()">
                                        <div class="fleet-model-btn select" 
                                            ng-click="navService.selectEquipment($index)"
                                            ng-class="{active: navService.isEquipActive($index)}">
                                            <span class="model-name">{{model.name}}</span>
                                            <i class="ikon-airplane ikon"> </i>
                                            <i class="ikon-chevron-right"> </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>



    </div>



</div>



