

    <div class="section-divider img-services-blur"></div>



    <div class="container full-page top-spacer">
        <div class="content header-offset">
            <div class="feature head lt-on-dk slim">
                <h1>Our Services.</h1>
                <div class="paragraph">
                    <p>We define the details that make it possible to synthesize abstract analytical models, systems and user experiences. We help teams articulate and manage the business strategies that make advanced engineering and business modeling work. We want to work with you to see how we can help your project. Until then, here are some good places to start.</p>
                </div>
            </div>


        
            <div class="row feature">
                <div class="span2">
                    <div class="feature-icon">
                        <div class="block-lg strategy">St</div>
                    </div>
                </div>
                <div class="span8">
                    <div class="feature-service">
                        <h2 class="person">Strategy</h2>
                        <div class="paragraph">
                            <p>The hardest part is also the most important part, and it happens before the engineers even get their hands dirty. We guide our clients through the formal exercises of better understanding their customers, using that understanding to scope and define their project’s life and setting up the process for continual tracking and course correction.</p>
                            <p><strong>Sample Deliverables:</strong> Business value mapping, persona identification and use case definition.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row feature">
                <div class="span2">
                    <div class="feature-icon">
                        <div class="block-lg design">Ds</div>
                    </div>
                </div>
                <div class="span8">
                    <div class="feature-service">
                        <h2 class="person">Design</h2>
                        <div class="paragraph">
                            <p>The most sophisticated analytical tools fail if user experience, user interface and data visualization are not understood and prioritized. Smart design principles begin with requirements communication and end with the final product. We love good design and we introduce our clients to concepts, tools and solutions to make their projects work.</p>
                            <p><strong>Sample Deliverables:</strong> UX design, UI wireframing and data visualization prototyping.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row feature">
                <div class="span2">
                    <div class="feature-icon">
                        <div class="block-lg development">Dv</div>
                    </div>
                </div>
                <div class="span8">
                    <div class="feature-service has-child">
                        <h2 class="person">Model Development</h2>
                        <div class="paragraph">
                            <p>We’re in this business because we like hard problems, and there are tremendous opportunities for the integration of systems and services to make our clients’ projects more effective and efficient. We get sophisticated engineering models, we love to learn, and we can turn ideas and data into actionable, usable tools.<p>
                            <p><strong>Sample Deliverables:</strong> Analytical model design and business model prototyping.</p>
                        </div>
                    </div>

                    <div class="feature-service">
                        <h2 class="person">System Development</h2>
                        <div class="paragraph">
                            <p>If you’re not thinking about how your project fits into the big picture, you should be. We help our clients understand good, future facing system design, and connect them with the right tools to realize the potential beyond their silo.</p>
                            <p><strong>Sample Deliverables:</strong> Business system architecture and model integration strategy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

