    <div class="section-divider img-services-blur"></div>


    <div class="container full-page top-spacer">
        <div class="content skinny-content header-offset">
            <div class="feature head lt-on-dk">
                <h1>Our Services.</h1>
                <div class="paragraph">
                    <p>We define the details that make it possible to synthesize abstract analytical models, systems and user experiences. We help teams articulate and manage the business strategies that make advanced engineering and business modeling work. We want to work with you to see out how we can help your project. Until then, here are some good places to start.</p>
                </div>
            </div>


            <div class="feature">
                <div class="block-lg strategy outset hide-tablet">St</div>
                <div class="inner">
                    <h2 class="person">Strategy</h2>
                    <div class="paragraph">
                        <p>The hardest part is also the most important part, and it happens before the engineers even get their hands dirty. We guide our clients through the formal processes of better understanding their customers, using that understanding to scope and define their project’s life and setting up the process for continual tracking and course correction.</p>
                        <div class="container slim">
                            <div class="service">
                                <span class="label label-info">Business Value Map</span>
                            </div>
                            <div class="service">
                                <span class="label label-info">Persona Identification</span>
                            </div>
                            <div class="service">
                                <span class="label label-info">Use Case Definition</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="block-lg design outset">Ds</div>
                <h2 class="person">User Experience</h2>
                <div class="paragraph">
                    <p>The most sophisticated analytical web tools fail if usability, user experience and user interface isn’t understood and prioritized. We love good design, and introduce our clients to concepts, tools and solutions to make their projects work.</p>
                    <div class="container slim">
                        <div class="service">
                            <span class="label label-info">UX Design</span>
                        </div>
                        <div class="service">
                            <span class="label label-info">UI Wirefaming</span>
                        </div>
                        <div class="service">
                            <span class="label label-info">Data Visualization Prototype</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="feature">
                <div class="block-lg development outset">Dv</div>
                <h2 class="person">Model Development</h2>
                <div class="paragraph">
                    <p>We’re in this business because we like hard problems, and there are tremendous opportunities for the integration of systems and services to make our clients’ projects more effective and efficient. We get sophisticated engineering models, we love to learn, and we can turn ideas and data into actionable, usable tools.</p>
                    <div class="container slim">
                        <div class="service">
                            <span class="label label-info">Analytical Model Definition</span>
                        </div>
                        <div class="service">
                            <span class="label label-info">Business Model Prototyping</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="block-lg strategy outset">Sd</div>
                <h2 class="person">System Design</h2>
                <div class="paragraph">
                    <p>If you’re not thinking about how your project fits into the big picture, you should be. We help our clients understand good, future facing system design, and connect them with the right tools to realize the potential outside of their silo.</p>
                    <div class="container slim">
                        <div class="service">
                            <span class="label label-info">Business System Architecture</span>
                        </div>
                        <div class="service">
                            <span class="label label-info">Model Integration Strategy</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

