
<section class="landing photo runway">>
</section>

<section class="solid blacka">
    <div class="container">
        
        <div class="greeting intro">
          <!-- <h2 class="underline">Our Work</h2> -->
          <h1 itemprop="description">Airline Financial Application Concept</h1>
          <div class="divider"></div>
          <p class="date">August 2013</p>
        </div>        
        
        <div class="vimeo-player">
            <iframe src="//player.vimeo.com/video/85405014?byline=0&amp;portrait=0" width={{vimeoWidth}} height="373" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/85190234">Airline Fleet Analytics Proof of Concept</a> from <a href="http://vimeo.com/appliedbydesign">Applied by Design</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
        
        <div class="row">

            <div class="col-md-5 col-md-offset-1">
                <div class="solution">
                    <h4>Project Overview</h4>
                    <p>This project began as a proof of concept into building data-driven web applications to support our aviation clients. Airlines are beginning to make better operational and strategic investment decisions based on the data that's driving their business.</p>
                    <br >
                    <p>Key to unlocking the value in data is the ability to interact with and interrogate information in ways that allow users to derive meaning. This project explores the use of rapid application development and data visualization solutions to build a platform for airline data analytics.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="solution">
                    <h4>Technology Selection</h4>
                    <p>We developed this application primarily in AngularJS, driven by Node.js on the backend and a MongoDB database.</p>

                    <h4>More Information</h4>
                    <p>Want to learn more? Just let us know. We're here to help!</p>
                </div>
            </div>    
        </div>

    </div>
</section>
